* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1e1e2f;
	overflow: hidden;
}

.order-content {
	width: 280px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffc75f;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.order-img {
	width: 200px;
	height: 200px;
	border: 1px solid #ddd;
	border-radius: 50%;
}

/*
.toast {
	position: absolute;
	top: 25px;
	right: 30px;
	border-radius: 12px;
	background: #2e2e3f;
	padding: 20px 35px 20px 25px;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.5);
	border: 1px solid #444;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
	transform: translateX(0%);
}

.toast .toast-content {
	display: flex;
	align-items: center;
}

.toast-content .check {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	min-width: 35px;
	background-color: #ffc75f;
	color: #fff;
	font-size: 20px;
	border-radius: 50%;
	border: 2px solid #333;
}

.toast-content .message {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.message .text {
	font-size: 16px;
	font-weight: 400;
	color: #cccccc;
}

.message .text.text-1 {
	font-weight: 600;
	color: #ffffff;
}

.toast .close {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
	color: #fff;
}

.toast .close:hover {
	opacity: 1;
}

.toast .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #444;
	overflow: hidden;
}

.toast .progress:before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #ffc75f;
}

.progress.active:before {
	animation: progress 5s linear forwards;
}

@keyframes progress {
	100% {
		right: 100%;
	}
}

button {
	padding: 12px 20px;
	font-size: 20px;
	outline: none;
	border: none;
	background-color: #ffc75f;
	color: #1e1e2f;
	border-radius: 6px;
	border: 2px solid #333;
	cursor: pointer;
	transition: 0.3s;
}

button:hover {
	background-color: #e6b354;
}

.toast.active ~ button {
	pointer-events: none;
}
*/
